.dialog {
    padding: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    transition: 200ms;

    color: black;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        background-color: rgb(255, 210, 100);
        transition: 100ms;
    }
}

.dialog a {
    text-decoration: none;
}

.dialog a:visited {
    color: initial;
    text-decoration: none;
}

.dialog img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 2px solid white;
}