.input_block {
    gap: 15px;
}

.input_block button {
    margin-left: auto;
}

.input_div {
    width: 100%;
}

.input_block input {
    width: 100%;
    transition: 200ms;
    border-radius: 15px;
    border: none;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);

    &:focus {
        box-shadow: 0 0 20px rgb(255, 255, 255);
        outline: none;
    }

    &:hover {
        background-color: white;
        transition: 100ms;
    }
}

.input_block .label {
    font-size: large;
    font-weight: 600;
    padding-left: 0px;
}