.input_block {
    gap: 15px;
}

.input_block button {
    margin-left:  auto;
}

.input_block input {
    transition: 200ms;
    border-radius: 15px;
    border: none;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);

    &:focus {
        box-shadow: 0 0 20px rgb(255, 255, 255);
        outline: none;
    }
    &:hover {
        background-color: white;
        transition: 100ms;
    }
}