.post_item {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    background-color: rgb(255, 210, 100);
}

.post_item button {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);

    height: 30px;
    width: 90px;
    border-radius: 15px;
    border: unset;
    justify-content: center;
    align-items: center;

    transition: 200ms;

    &:hover {
        background-color: white;
        transition: 100ms;
    }

    &:active {
        box-shadow: 0 0 20px white;
    }
}