.nav {
    width: 200px;
    grid-area: n;
    background-color: burlywood;
    padding: 10px;
}

.nav .navSticky {
    position: sticky;
    top: 10px;
}

.nav .navItemContainer {
    border-radius: 15px;
    background-color: bisque;
    overflow: auto;
}