* {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

html {
  background-color: rgb(66, 53, 45);
}

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 7fr;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornsilk;
}

::-webkit-slider-thumb{
  position: absolute;
}