.friendCard {
    display: flex;
    align-items: center;
    height: 60px;
    transition: 200ms;

    color: white;
    font-weight: 600;

    &:hover {
        background-color: rgb(255,210,100);
        transition: 100ms;
        color: black;
    }
}

.friendCard img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
