.dialog_page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.dialog_items .active {
    text-shadow: 0 0 5px rgb(255, 0, 0);
}

.message_items {
    background-color:burlywood;
}